﻿
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalTitle">Title Here</h4>
            </div>
            <div class="modal-body">
                <div class="preloader-con">
                    <p>Working...</p>
                </div>
            </div>
            <div class="modal-footer" style="background:#f9f9f9">
                <button type="button" class="btn btn-primary btn-sm btn-submit-form">Save</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>


