﻿@using FloodAutomation.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FloodAutomation - @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <link href="~/AdminLTE/plugins/weather-icons/css/weather-icons.css" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/weather-icons/css/weather-icons-wind.css" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/weather-icons/css/weather-icons-wind.min.css" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/weather-icons/css/weather-icons.min.css" rel="stylesheet" />
    <link href="~/Content/MomentJS/jquery-confirm.min.css" rel="stylesheet" />

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")
    <link href="~/AdminLTE/styleLayout.css" rel="stylesheet" />
    @*@Styles.Render("~/AdminLTE/plugins/pace/css")*@
    @RenderSection("styles", false)
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Administration")" class="logo">
                <span class="logo-mini"><b>F</b>lood</span>
                <span class="logo-lg"><b>Flood</b>Automation</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>


                <div class="navbar-custom-menu">

                    <ul class="nav navbar-nav">

                        <li class="dropdown messages-menu data-conatainer-readSMS">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                                <span class="label label-success"></span>
                            </a>
                        </li>

                        <li onclick="messageclick()" class="dropdown messages-menu data-conatainer-message">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span id="countMessage" class="label label-success"></span>
                            </a>
                        </li>

                        @* @Html.Partial("_GetNotifyMessage")*@



                        @* notification *@
                        <li onclick="userClick()" class="dropdown messages-menu data-conatainer-user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span id="countUsers" class="label label-warning"></span>
                            </a>

                        </li>

                        @Html.Partial("_LoginPartial")
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>






                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.GetUserNameIdentifier()</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                @*<form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>*@
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>

                    <li id="left-sidebar-menu-dashboard">
                        <a href="@Url.Action("Index", "Administration")">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>

                    <li id="left-sidebar-menu-users">
                        <a href="@Url.Action("Users", "Administration")">
                            <i class="fa fa-user"></i> <span>Users</span>
                            @*<small class="label pull-right bg-green">4</small>*@
                        </a>
                    </li>
                    <li id="left-sidebar-menu-device">
                        <a href="@Url.Action("Devices", "Administration")">
                            <i class="fa fa-map-marker"></i> <span>Devices</span>
                        </a>
                    </li>

                    <li id="left-sidebar-menu-ChartMonitor" class="treeview">
                        <a href="#">
                            <i class="fa fa-desktop"></i> <span>Monitoring/ <small>Last 24 HOurs</small></span> <i class="fa fa-angle-left pull-right"></i>

                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-HoursWaterData"><a href="@Url.Action("HoursWaterData", "Administration")"><i class="wi wi-flood"></i> Water Level</a></li>
                            <li id="left-sidebar-menu-HoursFlowMeterData"><a href="@Url.Action("HoursFlowMeterData", "Administration")"><i class="wi wi-earthquake"></i> Flow Meter</a></li>
                            <li id="left-sidebar-menu-HoursRainGaugedData"><a href="@Url.Action("HoursRainGaugedData", "Administration")"><i class="wi wi-barometer"></i> Rain Gauge</a></li>
                        </ul>
                    </li>

                    @*<li id="left-sidebar-menu-widgets">
                            <a href="@Url.Action("SMS", "Administration")">
                                <i class="fa fa-map-marker"></i> <span>Mesages</span>
                            </a>
                        </li>*@
                    <li id="left-sidebar-menu-FloodMonitoring" class="treeview">
                        <a href="#">
                            <i class="fa fa-envelope"></i> <span>Messages</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-dashboard-dashboardV1"><a href="@Url.Action("WaterLevel", "Administration")"><i class="wi wi-flood"></i> Water Level</a></li>
                            <li id="left-sidebar-menu-dashboard-dashboardV2"><a href="@Url.Action("FlowMeter", "Administration")"><i class="wi wi-earthquake"></i> Flow Meter</a></li>
                            <li id="left-sidebar-menu-dashboard-dashboardV3"><a href="@Url.Action("RainGauge", "Administration")"><i class="wi wi-barometer"></i> Rain Gauge</a></li>
                        </ul>
                    </li>
                    <li id="left-sidebar-menu-ChartMonitorHistory" class="treeview">
                        <a href="#">
                            <i class="fa fa-desktop"></i> <span>Monitoring History</span> <i class="fa fa-angle-left pull-right"></i>

                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-HistoryWaterData"><a href="@Url.Action("WaterDataHistory", "Administration")"><i class="wi wi-flood"></i> Water Level</a></li>
                            <li id="left-sidebar-menu-HistoryFlowMeterData"><a href="@Url.Action("FlowMeterDataHistory", "Administration")"><i class="wi wi-earthquake"></i> Flow Meter</a></li>
                            <li id="left-sidebar-menu-HistoryRainGaugedData"><a href="@Url.Action("RainGaugedDataHistory", "Administration")"><i class="wi wi-barometer"></i> Rain Gauge</a></li>
                        </ul>
                    </li>


                    <li class="header">LABELS</li>
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Flow Meter</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-green"></i> <span>Rain Gauged</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Water Level</span></a></li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Administration")"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.2
            </div>
            <strong>Copyrights | North Cotabato, Philippines |  &copy; 2016-2017 <a href="#">Flood Automation</a>.</strong> All rights
            reserved.
        </footer>

        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="control-sidebar-home-tab">


                </div>
                <div class="tab-pane" id="control-sidebar-settings-tab">

                </div>
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>

    </div>
    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
    @Scripts.Render("~/AdminLTE/plugins/fastclick/js")
    @Scripts.Render("~/Scripts/AdminLTEScript/Shared/_Layout")
    @Scripts.Render("~/AdminLTE/dist/js")
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/AdminLTE/plugins/pace/js/pace.js"></script>*@
    @*@Scripts.Render("~/AdminLTE/plugins/pace/js")
        @Scripts.Render("~/Scripts/AdminLTEScript/Examples/Pace")*@
    <script src="~/Content/MomentJS/jquery-confirm.min.js"></script>
    <script src="~/Scripts/UtilitiesJS/enforce-true-validation.js"></script>
    <script src="~/Scripts/UtilitiesJS/utilities.js"></script>
    <script src="~/Content/MomentJS/moment.js"></script>


    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalR/hubs"></script>
    <script src="~/Scripts/Notification/NotifyAll.js"></script>
    <script src="~/Scripts/AdminLTEScript/TimeAgo/timeAgo.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>