﻿
    <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">


            <i class="fa fa-bolt" aria-hidden="true"></i>@{
                if (ViewBag.GSMStatus == "Open")
                {

                    <span class="label label-success">✓</span>
                }
                else
                {
                    <span class="label label-danger">X</span>

                }
            }

        </a>
        <ul class="dropdown-menu">
            <li class="header">GSM Connection Status</li>
            @{
                if (ViewBag.GSMStatus == "Open")
                {
                    <li>
                        <a href="#">
                            <h5>
                                <small>
                                    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
                                </small>
                                Modem is connected!
                                &nbsp;<i class="fa fa-toggle-on" aria-hidden="true"></i>
                            </h5>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#">
                            <h5>
                                <small>
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                    Modem is not connected!
                                </small>
                                &nbsp;<i class="fa fa-toggle-off" aria-hidden="true"></i>
                            </h5>
                            <p>Please Connect the Modem.</p>
                        </a>
                    </li>
                }
            }

        </ul>
    </li>




