﻿
@using FloodAutomation.Core.Enums;
@model FloodAutomation.Models.RequestResponseModel
@{
    var type = "";
    switch (Model.InfoType)
    {
        case RequestResultInfoType.Information:
            type = "alert-info";
            break;
        case RequestResultInfoType.Success:
            type = "alert-success";
            break;
        case RequestResultInfoType.Warning:
            type = "";
            break;
        case RequestResultInfoType.ErrorOrDanger:
            type = "alert-danger";
            break;
    }
    <div id="MessageContainer" class="alert @type">
        <button type="button" class="close" data-dissmiss="alert" aria-hidden="true">&times;</button>
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <strong>@Model.Title&#32;</strong><br />
        }
        @Html.Raw(Model.Message)
    </div>
}