﻿
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div id="clock" style="font-size:80pt; padding-top200px;"></div>
</div>
<script src="~/Scripts/SignalR/jquery-1.6.4.js"></script>
<script src="Scripts/jquery.signalR-2.2.1.js"></script>
<script type="text/javascript">
    $(function () {
        var con = $.hubConnection('http://localhost:8080');
        var hub = con.createHubProxy('clockhub');
        hub.on('showTime', function (t) {
            $('#clock').text(t);
        });
        con.start();
    })
</script>