﻿
@{
    ViewBag.Title = "Flood Automation";

}

<style>
    /*#map_canvas img {
        max-width: none;
    }*/
    .map-responsive {
        overflow: hidden;
        padding-bottom: 50%;
        position: relative;
        height: 0;
    }

        .map-responsive #map_canvas {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
     

.panel-default {
 opacity: 0.9;

}

</style>




<!-- This is the div that will contain the Google Map -->
<div class="">
    <div class="row">


        <div class="map-responsive col-md-12">
            <div id="map_canvas" width="600" height="400" frameborder="0" style="border:0" allowfullscreen">
            </div>
        </div>

        <div class="col-md-2 " style="margin-top:50px; position:fixed;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="">Select Category</strong>

                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input id="" onclick="WaterCheck()" class="form-control btn btn-primary" type="button" value="Water Level">
                    </div>
                    <div class="form-group">
                        <input id="" onclick="FlowCheck()" class="form-control btn btn-danger" type="button" value="Flow Meter">
                    </div>
                    <div class="form-group ">
                        <input id="" onclick="RainCheck()" class="form-control btn btn-success" type="button" value="Rain Gauged">
                    </div>
                    <div class="form-group ">
                        <input id="" onclick="All()" class="form-control btn btn-default" type="button" value="View All">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" @*data-backdrop="static"*@ data-keyboard="true">
    <div class=" modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalTitle">Title Here</h4>
            </div>
            <div class="modal-body">
                <div class="row">


                    <div id="modal-body" style="margin:0px !important; width:63% !important; height: 75%;"></div>


                </div>
            </div>

        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>








@section scripts {

    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCGyi5D_JltkJvFiGKiOQ0IywcYxV-bowQ" type="text/javascript"></script>

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalR/hubs"></script>
    <script src="~/Scripts/Chart/highcharts.js"></script>
    @*<script src="~/Scripts/Chart/exporting.js"></script>*@
    <script src="~/Scripts/Home/Home.js"></script>

   
}
