﻿@model FloodAutomation.Models.ViewModel.DevicesViewModel
@using (Html.BeginForm(Html.BeginForm("CreateEditDevices", "Administration", FormMethod.Post, new { id = "createEdit-device-form" })))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="response-div"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.NameOfPlace, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameOfPlace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameOfPlace, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <input type="text" disabled name=""class="form-control" value="+63" />
             </div>

            <div class="col-md-8">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryId, Model.Categorys, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div style="padding-bottom:10px;" class="row">

        <div class="form-group">
            <div class="col-md-6 text-center">
                <label >Low/Light<small> (from 0 - #)</small></label>
                @Html.EditorFor(model => model.Low, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Low, "", new { @class = "text-danger" })
            </div>


            <div class="col-md-6 text-center">
                <label >Moderate<small> (from Low - #)</small></label>

                @Html.EditorFor(model => model.Moderate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Moderate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">

        <div class="form-group">
            <div class="col-md-6 text-center">
                <label>High/Heavy<small> (from Moderate - #)</small></label>

                @Html.EditorFor(model => model.High, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.High, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6 text-center">
                <label>Very High/Intense<small> (from High - #)</small></label>

                @Html.EditorFor(model => model.Very_High, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Very_High, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="col-md-12 text-center">
            <label>Note:&nbsp;<small>Torrential is Only for Rain Gauged.<br /> Greater than Intense</small></label>
        </div>
    </div>

}
