﻿@model FloodAutomation.Models.ViewModel.UserViewModel


<div class="panel-default">
    @using (Html.BeginForm("CreateEditUsers", "Administration", FormMethod.Post, new { id = "user-addedit-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="response-div"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.NameIdentifier , htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameIdentifier, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameIdentifier, "", new { @class = "text-danger" })
                </div>
            </div>

        

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger checkEmailValidationContainer" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TempPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (!string.IsNullOrEmpty(Model.Id))
                    {
                        <span style=""><a class="reset-password-btn" href="#">[Reset Password]</a></span>
                        <div class="reset-password-container" @*style="display:none;"*@>
                            @Html.TextBoxFor(model => model.TempPassword, new { @class = "form-control" })
                        </div>
                    }
                    else
                    {
                        @Html.EditorFor(model => model.TempPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TempPassword, "", new { @class = "text-danger" })
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Gender, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.RoleId, Model.Roles, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                </div>
            </div>

            
        </div>
    }

</div>
@*<div class="panel-footer">
    <div class="btn-demo">
        <a class="btn-reset-profile-form btn btn-xs btn-default pull-right"><span>Reset</span></a>
        <a class="btn-save-profile-form btn btn-xs btn-primary pull-right"><span>Save Changes</span></a>
    </div>

</div>*@

