﻿@model IEnumerable<FloodAutomation.Models.ViewModel.MessageNotificationViewModel>

<style type="text/css">
    .buttons-print {
        /*float: none;
        margin: -36px 0 -70px 168px;*/
    }
</style>

    <table class="table table-bordered" id="MessageNotify">
        <thead>
            <tr>
                <th>Id</th>
                <th>Area</th>
                <th>Category</th>
                <th>Sender Number</th>
                <th>Data</th>
                <th>Status</th>
                <th>Date Received</th>
                <th>History</th>
            </tr>
        </thead>

        <tbody>

            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.DeviceName)</td>
                        <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                        <td>@Html.DisplayFor(modelItem => item.SenderNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Message)</td>
                        <td>@Html.DisplayFor(modelItem => item.StatusLevel)</td>
                        <td>@Html.DisplayFor(modelItem => item.ConNotifyId)</td>
                        <td><time class="timeago" datetime="@Convert.ToDateTime(item.ConNotifyId)"></time></td>

                    </tr>

                }
            }
        </tbody>
    </table>


<script>
    $(document).ready(function () {
        jQuery("time.timeago").timeago();
    })

    $("#MessageNotify").dataTable({
        dom: 'lBfrtip',
        buttons: [
            'print',

        ],
      
        "order": [[0, "desc"]],
        "iDisplayLength": 100,
    });

    $(document).on('click', '.btn-printMessage', function (e) {
        e.preventDefault();
        $('.buttons-print').click();
    })

    $('.buttons-print').each(function () {
        $(this).removeClass('btn-default').addClass('hidden');
    })

</script>



