﻿@model IEnumerable<FloodAutomation.Models.ViewModel.UserNotificationViewModel>

<style type="text/css">
    .buttons-print {
        /*float: none;
        margin: -36px 0 -70px 168px;*/
    }
</style>

<table class="table table-bordered" id="UserNotify">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Session Status</th>
            <th>DateTime</th>
            <th>History</th>
        </tr>
    </thead>

    <tbody>

        @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.userEmail)</td>
                    <td>@Html.DisplayFor(modelItem => item.SessionStatus)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateTime)</td>
                    <td><time class="timeago" datetime="@item.DateTime"></time></td>


                </tr>

            }
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        jQuery("time.timeago").timeago();
    })

    $("#UserNotify").dataTable({
        dom: 'lBfrtip',
        buttons: [
            'print',

        ],

        "order": [[0, "desc"]],
        "iDisplayLength": 100,
    });

    $(document).on('click', '.btn-printMessage', function (e) {
        e.preventDefault();
        $('.buttons-print').click();
    })

    $('.buttons-print').each(function () {
        $(this).removeClass('btn-default').addClass('hidden');
    })

</script>




