﻿@model IEnumerable<FloodAutomation.Models.ViewModel.GSMDataViewModel>

<table class="table table-bordered" id="GsmTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>Contact Number</th>
            <th>Message</th>
            <th>Date</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.CNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateReceived)</td>
                    <td><a data-id="@item.Id" data-title="@item.CNumber" href="#" class="btn btn-primary btn-xs edit-sms">View</a></td>

                </tr>

            }
        }
    </tbody>
</table>




