﻿@model IEnumerable<FloodAutomation.Models.ViewModel.WaterLevelViewModel>

<table class="table table-bordered" id="WaterLevel">
    <thead>
        <tr>
            <th>Site Name</th>
            <th>Sender No.</th>
            <th>Data</th>
            <th>Received</th>
            <th>Status</th>
            <th>Index</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Devices.NameOfPlace)</td>
                    <td>@Html.DisplayFor(modelItem => item.SenderNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateReceived)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@Html.DisplayFor(modelItem => item.Zindex)</td>

                </tr>

            }
        }
    </tbody>
</table>
<script>
    $("#WaterLevel").dataTable({
        dom: 'lBfrtip',
        buttons: [
            'print',

        ],

        "order": [[0, "desc"]],
        "iDisplayLength": 100,
    });
    $(document).on('click', '.btn-printMessage', function (e) {
        e.preventDefault();
        $('.buttons-print').click();
    })

    $('.buttons-print').each(function () {
        $(this).removeClass('btn-default').addClass('hidden');
    })
</script>





