﻿
@model IEnumerable<FloodAutomation.Models.ViewModel.UserNotificationViewModel>

@{
    var count = 1;
    var viewcount = 0;

    foreach (var items in Model)
    {
        if (items.NotifyUserStatus == 0)
        {
            viewcount = count++;
        }


    }
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning">@viewcount</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">Notifications</li>
        <li>
            <ul class="menu">
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {

                        <li>
                            <a href="#">
                                <div class="pull-left">
                                    <i class="fa fa-users text-aqua fa-2x"></i>
                                </div>
                                <h4>
                                    @item.SessionStatus
                                    <small><i class="fa fa-clock-o"></i> <time class="timeago" datetime="@item.DateTime"></time></small>
                                </h4>
                                <p>@item.userEmail <small>/</small></p>
                            </a>
                        </li>
                     
                    }
                }
            </ul>
        </li>
        <li class="footer"><a href="@Url.Action("/UserLog")">View all</a></li>
    </ul>

}
<script>
    $(document).ready(function () {
        jQuery("time.timeago").timeago();
    })
</script>
