﻿@model IEnumerable<FloodAutomation.Models.ViewModel.UserViewModel>

<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Admin</a></li>
                <li><a href="#tab_2" data-toggle="tab">Users</a></li>
                <li><a href="#tab_3" data-toggle="tab">Verification</a></li>

                <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <br />
                    <hr />


                    <table class="table table-bordered" id="USERTable">
                        <thead>
                            <tr>
                                <th>FullName</th>
                                <th>Username</th>
                                <th>Phone Number</th>
                                <th>Role</th>
                                <th>Gender</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.CurrentRole == "Admin")
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.NameIdentifier)</td>
                                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                            <td>@item.CurrentRole</td>
                                            <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>


                                            <td>
                                                <a data-id="@item.Id" data-title="@item.Email / @item.NameIdentifier" href="#" class="btn btn-primary btn-xs edit-Users "><i class="fa fa-pencil"></i></a>

                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>


                </div>
                <div class="tab-pane" id="tab_2">
                    <br />
                    <hr />

                    <table width="100%" class="table table-bordered" id="USERTableUser">
                        <thead>
                            <tr>
                                <th>FullName</th>
                                <th>Username</th>
                                <th>Phone Number</th>
                                <th>Role</th>
                                <th>Gender</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.CurrentRole == "User")
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.NameIdentifier)</td>
                                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                            <td>@item.CurrentRole</td>
                                            <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>


                                            <td>
                                                <a data-id="@item.Id" data-title="@item.Email / @item.NameIdentifier" href="#" class="btn btn-primary btn-xs edit-Users "><i class="fa fa-pencil"></i></a>

                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab_3">
                    <br />
                    <hr />

                    <table class="table table-bordered" width="100%" id="USERTableVerify">
                        <thead>
                            <tr>
                                <th>FullName</th>
                                <th>Username</th>
                                <th>Phone Number</th>
                                <th>Role</th>
                                <th>Gender</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.Status.ToString() == "WaitingForVerification")
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.NameIdentifier)</td>
                                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                            <td>@item.CurrentRole</td>
                                            <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>


                                            <td>
                                                <a data-id="@item.Id" data-title="@item.Email / @item.NameIdentifier" href="#" class="btn btn-primary btn-xs edit-Users "><i class="fa fa-pencil"></i></a>

                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    $("#USERTableUser").dataTable();
    $("#USERTableVerify").dataTable();
   
</script>