﻿@model IEnumerable<FloodAutomation.Models.ViewModel.UserViewModel>
@using FloodAutomation.Controllers
@using System.Globalization
@{
    Layout = null;
}

<table class="table table-bordered" id="USERTable">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Username</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usr in AdministrationController.userList)
        {

            ViewBag.UserName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(usr.UserName);
            ViewBag.Email = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(usr.Email);
            ViewBag.PhoneNumber = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(usr.PhoneNumber);
            ViewBag.NameIdentifier = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(usr.NameIdentifier);

            <tr>
                <td>@usr.NameIdentifier</td>
                <td>@ViewBag.UserName</td>
                <td>@ViewBag.PhoneNumber</td>
                <td>@usr.RoleName</td>
                <td>@usr.Status</td>
                <td><a data-id="@usr.UserId" data-title="@usr.NameIdentifier" href="#" class="btn btn-primary btn-xs edit-sms">View</a></td>

            </tr>

        }
    </tbody>
</table>
