﻿

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    @{
        var strenght = Convert.ToInt32(ViewBag.SignalQuality);
        if (ViewBag.GSMStatus == "Open")
        {

            <i class="fa fa-signal" aria-hidden="true"></i>
            if (strenght >= 0)
            {
                <span class="label label-success">1</span>
            }
            else if (strenght >= 10)
            {
                <span class="label label-success">2</span>
            }
            else if (strenght >= 19)
            {
                <span class="label label-success">3</span>
            }
            else if (strenght >= 20)
            {
                <span class="label label-success">4</span>
            }
            else
            {
                <span class="label label-success">No Signal</span>
            }
            //<span class="label label-success">✓</span>
        }
        else
        {
            <i class="fa fa-bolt" aria-hidden="true"></i>
                <span class="label label-danger">X</span>

        }
    }

</a>
<ul class="dropdown-menu">
    <li class="header">GSM Connection Status</li>
    @{
        if (ViewBag.GSMStatus == "Open")
        {
            <li>
                <a href="#">
                    <h5>
                        <small>
                            <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
                        </small>
                        Modem is connected!
                        &nbsp;<i class="fa fa-toggle-on" aria-hidden="true"></i>
                    </h5>
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="#">
                    <h5>
                        <small>
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            Modem is not connected!
                        </small>
                        &nbsp;<i class="fa fa-toggle-off" aria-hidden="true"></i>
                    </h5>
                    <p>Please Connect the Modem.</p>
                </a>
            </li>
        }
    }

</ul>
