﻿
@model IEnumerable<FloodAutomation.Models.ViewModel.DevicesViewModel>


<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Water Level</a></li>
                <li><a href="#tab_2" data-toggle="tab">Flow Meter</a></li>
                <li><a href="#tab_3" data-toggle="tab">Rain Gauge</a></li>

                <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <br />
                    <hr />


                    <table class="table table-bordered" id="Devices">
                        <thead>
                            <tr>
                                <th>Place</th>
                                <th>Longitude</th>
                                <th>Latitude</th>
                                <th>Number</th>
                                <th>Low</th>
                                <th>Moderate</th>
                                <th>High</th>
                                <th>Very High</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    if(item.Category.Id==3)
                                    { 
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.NameOfPlace)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Longitude)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Latitude)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                        <td>0.00 - @Html.DisplayFor(modelItem => item.Low)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Low) - @Html.DisplayFor(modelItem => item.Moderate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Moderate) - @Html.DisplayFor(modelItem => item.High)</td>
                                        <td>@Html.DisplayFor(modelItem => item.High) - @Html.DisplayFor(modelItem => item.Very_High)</td>

                                        <td>
                                            <a data-id="@item.Id" data-title="@item.NameOfPlace / @item.PhoneNumber" href="#" class="btn btn-primary btn-xs edit-device "><i class="fa fa-pencil"></i></a>
                                            <a data-id="@item.Id" data-title="@item.NameOfPlace" class="btn btn-danger btn-xs btn-delete-device"><i class="fa fa-trash"></i></a>
                                        </td>

                                    </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>



                </div>
                <div class="tab-pane" id="tab_2">
                    <br />
                    <hr />
                    <table width="100%" class="table table-bordered" id="DevicesFlow">
                        <thead>
                            <tr>
                                <th>Place</th>
                                <th>Longitude</th>
                                <th>Latitude</th>
                                <th>Number</th>
                                <th>Low</th>
                                <th>Moderate</th>
                                <th>High</th>
                                <th>Very High</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.Category.Id == 2)
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.NameOfPlace)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Longitude)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Latitude)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                        <td>0.00 - @Html.DisplayFor(modelItem => item.Low)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Low) - @Html.DisplayFor(modelItem => item.Moderate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Moderate) - @Html.DisplayFor(modelItem => item.High)</td>
                                        <td>@Html.DisplayFor(modelItem => item.High) - @Html.DisplayFor(modelItem => item.Very_High)</td>

                                        <td>
                                            <a data-id="@item.Id" data-title="@item.NameOfPlace / @item.PhoneNumber" href="#" class="btn btn-primary btn-xs edit-device "><i class="fa fa-pencil"></i></a>
                                            <a data-id="@item.Id" data-title="@item.NameOfPlace" class="btn btn-danger btn-xs btn-delete-device"><i class="fa fa-trash"></i></a>
                                        </td>

                                    </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>

             
                </div>
                <div class="tab-pane" id="tab_3">
                    <br />
                    <hr />
                    <table width="100%" class="table table-bordered" id="DevicesRain">
                        <thead>
                            <tr>
                                <th>Place</th>
                                <th>Longitude</th>
                                <th>Latitude</th>
                                <th>Number</th>
                                <th>Light</th>
                                <th>Moderate</th>
                                <th>Heavy</th>
                                <th>Intense</th>
                                <th>Torrential</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.Category.Id == 1)
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.NameOfPlace)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Longitude)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Latitude)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                        <td>0.00 - @Html.DisplayFor(modelItem => item.Low)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Low) - @Html.DisplayFor(modelItem => item.Moderate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Moderate) - @Html.DisplayFor(modelItem => item.High)</td>
                                        <td>@Html.DisplayFor(modelItem => item.High) - @Html.DisplayFor(modelItem => item.Very_High)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Very_High) - 15</td>

                                        <td>
                                            <a data-id="@item.Id" data-title="@item.NameOfPlace / @item.PhoneNumber" href="#" class="btn btn-primary btn-xs edit-device "><i class="fa fa-pencil"></i></a>
                                            <a data-id="@item.Id" data-title="@item.NameOfPlace" class="btn btn-danger btn-xs btn-delete-device"><i class="fa fa-trash"></i></a>
                                        </td>

                                    </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>

            
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    $("#DevicesFlow").dataTable();
    $("#DevicesRain").dataTable();

</script>






