﻿@model IEnumerable<FloodAutomation.Models.ViewModel.MessageNotificationViewModel>

@{
    var count = 1;
    var viewcount = 0;

    foreach (var items in Model)
    {
        if (items.MessageStatus == 0)
        {
            viewcount = count++;
        }


    }


    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-envelope-o"></i>
        <span id="countMessage" class="label label-success">@viewcount</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header"> Messages</li>
        <li>
            <ul class="menu">
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        
                            <li>
                                <a href="#">
                                    <div class="pull-left">
                                        <i class="fa fa-envelope-open-o fa-2x"></i>
                                    </div>
                                    <h4>
                                        @item.DeviceName
                                        <small><i class="fa fa-clock-o"></i> <time class="timeago" datetime="@Convert.ToDateTime(item.ConNotifyId)"></time></small>
                                    </h4>
                                    <p>@item.CategoryName of @item.DeviceName : @item.Message<small>/@item.StatusLevel</small></p>
                                </a>
                            </li>
                        
                    }
                }
            </ul>
        </li>
        <li class="footer"><a href="@Url.Action("/MessagesLog")">See All Messages</a></li>
    </ul>
}
<script>
    $(document).ready(function () {
        jQuery("time.timeago").timeago();
    })
</script>
