﻿
@{
    ViewBag.Title = "Flow Meter";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}
@section Menu {
    @Scripts.Render("~/Scripts/FloodMonitoring/FlowMeter/FlowMeterJS-menu.js")
}
<div class="box box-default color-palette-box">

    <div class="row">
        
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-default btn-printMessage btn-sm" href="#"><i class="fa fa-print  text-green  refresh-click"></i> <span>Print</span></a>
                    </div>
                    <div class="panel-body">
                        <div class="data-container">
                            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>  Loading data...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>
@Html.Partial("_GenericModal")


@section styles{
    <link href="~/Scripts/datatable/plugins/datatables.css" rel="stylesheet" />
}
@section Scripts{

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="../signalR/hubs"></script>
    <script src="~/Scripts/FloodMonitoring/FlowMeter/FlowMeter.js"></script>
    <script src="~/Scripts/datatable/plugins/datatables.js"></script>
    <script src="~/Scripts/datatable/plugins/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/datatable/plugins/buttons.print.min.js"></script>
}
