﻿@{
    ViewBag.Title = "Flow Meter";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}
@section Menu {
    <script src="~/Scripts/Chart/FlowMeter/FlowMeterChart-menu.js"></script>
}


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div id="container" width='100%' style=" height: 490px; width:auto; margin: 0 auto"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/jquery-ui/js")
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>

    <script src="~/Scripts/Chart/highstock.js"></script>
    <script src="~/Scripts/Chart/highcharts-more.js"></script>
    <script src="~/Scripts/Chart/exporting.js"></script>
    @*<script src="~/Scripts/Chart/Style2.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalR/hubs"></script>
    <script src="~/Scripts/Chart/FlowMeter/FlowMeterChart.js"></script>

}
