﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}
@section Menu {
    @Scripts.Render("~/Scripts/AdminLTEScript/Home/DashboardV1/menu")
}
<div class="row">
    

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 class="userregcounter">0</h3>
                <p>User</p>
            </div>
            <div class="icon">
                <i class="ion-person-stalker"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3 class="counterusers">
                   0<sup style="font-size: 20px"></sup>
                </h3>
                <p>Unique Visitors</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3 class="countermessage">0</h3>
                <p>Messages</p>
            </div>
            <div class="icon">
                <i class="ion ion-email"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3 class="Devicescounter">0</h3>
                <p>Area</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-location"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
 <div class="col-lg-3 col-xs-6">

 </div>
</div>




@section Scripts {
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="../signalR/hubs"></script>
<script src="~/Scripts/DashBoard/Dashboard.js"></script>
}
