﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}
<div id="clock" style="font-size:80pt; padding-top200px;"></div>

<script src="~/Scripts/SignalR/jquery-1.6.4.js"></script>

<script type="text/javascript">
    $(function () {
        var con = $.hubConnection('http://localhost:8080');
        var hub = con.createHubProxy('clockhub');
        hub.on('showTime', function (t) {
            $('#clock').text(t);
            var url = '/Administration/_GetFlowMeter';
            $.get(url, function (t) {
               
            })

        });
        con.start();
    })
</script>
