﻿@model IEnumerable<FloodAutomation.Models.AdminStudentViewModel>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";

}
@section Menu {
    @Scripts.Render("~/Scripts/SMS/SMSjs-menu.js")
}
<div class="box box-default color-palette-box">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="btn btn-primary btn-xs create-sms">Create New</a>
                </div>
                <div class="panel-body">
                    <div class="data-container">
                        <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>  Loading data...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_GenericModal")


@section styles{
    <link href="~/Scripts/datatable/plugins/datatables.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/Scripts/SMS/SMS.js"></script>
    <script src="~/Scripts/datatable/plugins/datatables.js"></script>
}
