﻿@{
    ViewBag.Title = "Water Level History";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}
@section Menu {
    <script src="~/Scripts/History/WaterLevelChartHistory-menu.js"></script>
}


<div class="box box-default color-palette-box ">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-md-3">
                        <div id="reportrange" class="pull-right form-control" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                     <a onclick="javascript: printDiv('printable')" class="btn btn-default btn-printMessage print-div print-water disabled" href="#"><i class="fa fa-print  text-green  refresh-click"></i> <span>Print with Data</span></a>
                </div>
                <div id="printable" class="panel-body printable">
                    <div id="container" style=" height: 460px; margin: 0 auto"></div>
                    <hr />
                    <div id="tableContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/Scripts/datatable/plugins/datatables.css" rel="stylesheet" />
}

@section Scripts {


    <script src="~/Scripts/datatable/plugins/datatables.js"></script>
    <script src="~/Content/DateRange/moment.min.js"></script>
    <script src="~/Content/DateRange/daterangepicker.js"></script>
    <link href="~/Content/DateRange/daterangepicker.css" rel="stylesheet" />

    @*<script src="~/Scripts/Chart/highcharts.js"></script>*@
    <script src="~/Scripts/Chart/highstock.js"></script>
    <script src="~/Scripts/Chart/highcharts-more.js"></script>
    <script src="~/Scripts/Chart/exporting.js"></script>
    <script src="~/Scripts/Chart/Style.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalR/hubs"></script>
    <script src="~/Scripts/History/WaterLevelChartHistory.js"></script>

}
